<div class="container mt-3">
  <div class="jumbotron text-center" style="background:coral">
    <h1>Error al Loguearse</h1>

    <hr />
    <a href="/login" class="btn btn-warning mt-3 mb-5">Volver</a>
  </div>
</div>