<div class="container mt-3">
  <div class="jumbotron">
    <h1 style="color:blue;">Login de Usuario</h1>
    <br />
    <form method="post">
      <div class="form-group">
        <label for="username"><i><b>Usuario</b></i></label>
        <input
          id="username"
          class="form-control"
          type="text"
          name="username"
          required
        />

        <label for="password"><i><b>Contraseña</b></i></label>
        <input
          id="password"
          class="form-control"
          type="password"
          name="password"
          required
        />

      </div>

      <input type="submit" class="btn btn-success mt-3 mb-5" value="Login" />
    </form>

    <hr />

    <a href="/signup" class="btn btn-success mt-3 mb-5">Ir a Registrar</a>
  </div>
</div>